<div class="volunteer-panel-wrapper" id="volunteer-panel-wrapper"> -->



    <div class="volunteer-panel-header" ondblclick="expandCollapse('volunteer-panel')">
        <div class="volunteer-panel-header-left tab1">
            <img src="/assets/dist/img/icons/user-group.png">
            <span>Burden Bearer Volunteer Registration</span>
        </div>
        <div class="volunteer-panel-header-left tab2" style="display:none;">
            <img src="/assets/dist/img/icons/disposition.png">
            <span>Disposition</span>
        </div>
        <div class="volunteer-panel-header-left tab3" style="display:none;">
            <img src="/assets/dist/img/icons/user.png">
            <span>Choose Avatar</span>
        </div>
        <div class="volunteer-panel-header-right">
            <a href="javascript:void(0)" onclick="$('#volunteer-panel-body').toggle()" id="pdf-panel-collapse-btn"><i
                    class="fa fa-angle-down"></i></a>
            <a href="javascript:void(0)" onclick="togglePanel('volunteer-panel-grid')" id="volunteer-panel-close-btn"><i
                    class="fa fa-close"></i></a>
        </div>
    </div>



    <div class="volunteer-panel-body" id="volunteer-panel-body">
        <div class="tab tab1">
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="top-part">
                    <div class="links">
                        <a class="active" href="javascript:void(0)">All Users</a>
                        <a href="javascript:void(0)">Users Group</a>
                    </div>
                    <span><span>*</span> (Required)</span>
                </div>
                <div class="main-part gridster-item-content">

                    <div class="form-group">
                        <label>*Username</label>
                        <input type="text" name="username" [(ngModel)]="form.username" required minlength="3"
                            maxlength="20" #username="ngModel">
                        <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                            <div *ngIf="username.errors.required">Username is required</div>
                            <div *ngIf="username.errors.minlength">
                                Username must be at least 3 characters
                            </div>
                            <div *ngIf="username.errors.maxlength">
                                Username must be at most 20 characters
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>*Password<span>(8 Characters or more including 1 numeric and 1 Special
                                Character)</span></label>
                        <input type="password" name="password" [(ngModel)]="form.password" required minlength="6"
                            #password="ngModel" />
                        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.minlength">
                                Password must be at least 6 characters
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                    <label>*Verify Password</label>
                    <input type="password">
                </div> -->
                    <br>
                    <br>
                    <div class="form-multi-group">
                        <div class="form-group">
                            <label>*Name</label>
                            <input type="text" name="first_name" [(ngModel)]="form.first_name" required minlength="6"
                            #first_name="ngModel">
                            <div class="alert-danger" *ngIf="f.submitted && first_name.invalid">
                                <div *ngIf="first_name.errors.required">Name is required</div>
                                <div *ngIf="first_name.errors.minlength">
                                   Enter Your First Name
                                </div>
                            </div>
                        </div>
                        <div class="form-group fixed-small-width">
                            <label>&nbsp;Middle Init</label>
                            <input type="text" name="middle_name" [(ngModel)]="form.middle_name" >
                        </div>
                        <div class="form-group">
                            <label>*Last</label>
                            <input type="text" name="last_name" [(ngModel)]="form.last_name" required #last_name="ngModel" minlength="3">
                            <div class="alert-danger" *ngIf="f.submitted && last_name.invalid">
                                <div *ngIf="last_name.errors.required">Last Name is required</div>
                                <div *ngIf="last_name.errors.minlength">
                                   Enter Your Last Name
                                </div>
                            </div>
                        </div>
                        <div class="form-group fixed-small-width">
                            <label>*Gender</label>
                            <input type="text" name="gender" [(ngModel)]="form.gender" class="width-small" required #gender="ngModel">
                            <div class="alert-danger" *ngIf="f.submitted && gender.invalid">
                                <div *ngIf="gender.errors.required">Gender is required</div>
                                <div *ngIf="gender.errors.minlength">
                                   Please Select Gender
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>*Email</label>
                        <input type="email" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                        <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">
                                Email must be a valid email address
                            </div>
                        </div>
                    </div>
                    <div class="form-multi-group1">
                        <div class="form-group">
                            <label>*City</label>
                            <input type="text" name="city" [(ngModel)]="form.city" required  #city="ngModel">
                            <div class="alert-danger" *ngIf="f.submitted && city.invalid">
                                <div *ngIf="city.errors.required">City is required</div>
                                <div *ngIf="city.errors.city">
                                  Please Select City
                                </div>
                            </div>
                        </div>
                        <div class="form-group fixed-small-width">
                            <label>*State</label>
                            <input type="text" name="state" [(ngModel)]="form.state" required  #state="ngModel">
                            <div class="alert-danger" *ngIf="f.submitted && state.invalid">
                                <div *ngIf="state.errors.required">State is required</div>
                                <div *ngIf="state.errors.state">
                                  Please Select State
                                </div>
                            </div>
                            <!-- <select>
                            </select> -->
                        </div>
                        <div class="form-group fixed-small-width">
                            <label>YOB</label>
                            <input type="text" name="yob" [(ngModel)]="form.yob"required  #yob="ngModel" >
                            <div class="alert-danger" *ngIf="f.submitted && yob.invalid">
                                <div *ngIf="yob.errors.required">Year Of Birth is required</div>
                                <div *ngIf="yob.errors.yob">
                                  Please Select City
                                </div>
                            </div>

                            <!-- <select>
                            
                        </select> -->
                        </div>
                        <div class="form-group fixed-small-width">
                            <label>*TMZ</label>
                            <input type="text" name="time_zone" [(ngModel)]="form.time_zone"required  #time_zone="ngModel">
                            <div class="alert-danger" *ngIf="f.submitted && time_zone.invalid">
                                <div *ngIf="time_zone.errors.required">Time Zone is required</div>
                                <div *ngIf="time_zone.errors.time_zone">
                                  Please Select Time Zone
                                </div>
                            </div>
                            <!-- <select>
                         
                        </select> -->
                        </div>
                    </div>

                </div>
                <div class="main-part1">
                    <div class="form-group">
                        <label>*Church Name</label>
                        <input type="text" name="church_name" [(ngModel)]="church_name" required #church_name1="ngModel">
                        <div class="alert-danger" *ngIf="f.submitted && church_name1.invalid">
                            <div *ngIf="church_name1.errors.required">Church Name is required</div>
                            <div *ngIf="church_name1.errors.church_name1">
                              Please Enter Church Name
                            </div>
                        </div>
                    </div> 
                    <div class="form-multi-group2">
                        <div class="form-group">
                            <label>*Pastor Name</label>
                            <input type="text" name="paster_name" [(ngModel)]="form.paster_name" required  #paster_name="ngModel"minlength="6">
                            <div class="alert-danger" *ngIf="f.submitted && paster_name.invalid">
                                <div *ngIf="paster_name.errors.required">Paster Name is required</div>
                                <div *ngIf="paster_name.errors.minlength">
                                  Please Enter Paster Name
                                </div>
                            </div>
                        </div>
                        <div class="form-group fixed-small-width">
                            <label>*Phone</label>
                            <input type="text" name="phone_no" [(ngModel)]="form.phone_no" required  #phone_no="ngModel"minlength="10">
                            <div class="alert-danger" *ngIf="f.submitted && phone_no.invalid">
                                <div *ngIf="phone_no.errors.required">Phone Number is required</div>
                                <div *ngIf="phone_no.errors.minlength">
                                  Please Enter Phone Number 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-multi-group3">
                        <div class="form-group">
                            <label>*City</label>
                            <input type="text" name="church_city" [(ngModel)]="form.church_city" #church_city="ngModel" required>
                            <div class="alert-danger" *ngIf="f.submitted && church_city.invalid">
                                <div *ngIf="church_city.errors.required">City is required</div>
                                <div *ngIf="church_city.errors.minlength">
                                  Please Select Church City 
                                </div>
                            </div>
                        </div>
                        <div class="form-group fixed-small-width">
                            <label>*State</label>
                            <input type="text" name="church_state" [(ngModel)]="form.church_state" #church_state="ngModel">
                            <div class="alert-danger" *ngIf="f.submitted && church_state.invalid">
                                <div *ngIf="church_state.errors.required">City is required</div>
                                <div *ngIf="church_state.errors.minlength">
                                  Please Select Church City 
                                </div>
                            </div>
                            <!-- <select>
                            
                        </select> -->
                        </div>
                    </div>
                </div>
                <div class="button-wrapper gridster-item-content">
                    <button>Submit</button>
                </div>

            </form>
        </div>
        <div class="alert alert-warning">
            Signup failed!<br />{{ errorMessage }}
        </div>
        <div class="tab tab2" style="display:none;">
            <div class="details">
                <p>Please review these behaviors and heart issues and if you have any preferences, please make the
                    appropriate selections.</p>
            </div>
            <div class="comfort">
                <div class="yes">
                    <img src="/assets/dist/img/icons/yes.png"><span>Comfortable</span>
                </div>
                <div class="no">
                    <img src="/assets/dist/img/icons/no.png"><span>Least Comfortable</span>
                </div>
            </div>
            <div class="data">
                <table>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><img src="/assets/dist/img/icons/yes.png"></td>
                            <td><img src="/assets/dist/img/icons/no.png"></td>
                        </tr>
                        <tr>
                            <td>Anxiety, Fear</td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        <tr>
                            <td>Anxiety, Fear</td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="button-wrapper">
                <button onclick="openVolunteerNext('tab3')">Submit</button>
            </div>
        </div>
        <div class="tab tab3" style="display:none;">
            <div class="avatar">
                <img src="/assets/dist/img/icons/avatar.png"><span>My Avatar</span>
            </div>
            <div class="choose-avatar">
                <div class="width-33">
                    <img src="/assets/dist/img/icons/avatar-1.png">
                </div>
                <div class="width-33">
                    <img src="/assets/dist/img/icons/avatar-1.png">
                </div>
                <div class="width-33">
                    <img src="/assets/dist/img/icons/avatar-1.png">
                </div>
                <div class="width-33">
                    <img src="/assets/dist/img/icons/avatar-1.png">
                </div>
                <div class="width-33">
                    <img src="/assets/dist/img/icons/avatar-1.png">
                </div>
                <div class="width-33">
                    <img src="/assets/dist/img/icons/avatar-1.png">
                </div>
            </div>
            <div class="pagination">
                <div class="paginate">
                    <span>1</span>
                    <span>2</span>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- <div class="col-md-12 gridster-item-content">
    <div class="card card-container">
      <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
            maxlength="20" #username="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">
              Username must be at least 3 characters
            </div>
            <div *ngIf="username.errors.maxlength">
              Username must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
            #email="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
            #password="ngModel" />
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Sign Up</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Signup failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </div>
  </div> -->