<div class="grid-stack-item flag-panel-grid" id="flag-panel-grid" data-gs-height="5" data-gs-min-height="5" data-gs-min-width="4" data-gs-width="4" data-gs-x="5" data-gs-y="0">
    <div class="grid-stack-item-content">


        <!-- PDF's master Div -->
        <div class="flag-panel-wrapper" id="flag-panel-wrapper">


            <!-- PDF Header-->
            <div class="flag-panel-header" ondblclick="expandCollapse('flag-panel')">
                <div class="flag-panel-header-left">
                    <img src="/assets/dist/img/icons/chat-head-icon.png">
              
                    <span>Pdf's</span>
                </div>

                <div class="flag-panel-header-right">
                    <a href="javascript:void(0)" ><i class="fa fa-angle-down"></i></a>
                    <a href="javascript:void(0)" (click)="toggleclose()" id="flag-panel-close-btn"><i class="fa fa-close"></i></a>
                </div>

            </div>


            <!-- PDF panel Body-->
            <div class="flag-panel-body" id="flag-panel-body">

               Flag Panel Content
            </div>

        </div>

    </div>
</div>

<!-- PDF's Div -->
<div class="grid-stack-item pdf-panel-grid" id="pdf-panel-grid" data-gs-height="5" data-gs-min-height="5" data-gs-min-width="4" data-gs-width="4" data-gs-x="5" data-gs-y="0">
    <div class="grid-stack-item-content">


        <!-- PDF's master Div -->
        <div class="pdf-panel-wrapper" id="pdf-panel-wrapper" style="width: 300px;">


            <!-- PDF Header-->
            <div class="pdf-panel-header" ondblclick="expandCollapse('pdf-panel')" >
                <div class="pdf-panel-header-left">
                    <img src="/assets/dist/img/icons/chat-head-icon.png">
                    <span>Pdf's</span>
                </div>

                <div class="pdf-panel-header-right">
                    <a href="javascript:void(0)" onclick="$('#pdf-panel-body').toggle()" id="pdf-panel-collapse-btn"><i class="fa fa-angle-down"></i></a>
                    <a href="javascript:void(0)"  ><i class="fa fa-close"></i></a>
                </div>

            </div>


            <!-- PDF panel Body-->
            <div class="pdf-panel-body" id="pdf-panel-body">

                <!--  PDF Files 01-->
                <div class="pdf-panel-pdf">
                    <a href="#" onclick="copyToPdf(this)">
                        <i class="fa fa-file-pdf-o"></i>

                        <!-- content -->
                        <div class="pdf-panel-pdf-content">
                            <span>God's Non rememberance of sin </span>
                            <p> Pdf by C H Spurgeon </p>
                        </div>
<!--                                                <hr class="work-area-hr disable">-->
                    </a>
                </div>

                <hr>

                <!--  PDF Files 02-->
                <div class="pdf-panel-pdf" onclick="copyToPdf(this)">
                    <a href="#">
                        <i class="fa fa-file-pdf-o"></i>

                        <!-- content -->
                        <div class="pdf-panel-pdf-content">
                            <span>God's Non rememberance of sin </span>
                            <p> Pdf by C H Spurgeon </p>
                        </div>
                    </a>
                </div>

                <hr>

                <!--  PDF Files 03-->
                <div class="pdf-panel-pdf" onclick="copyToPdf(this)">
                    <a href="#">
                        <i class="fa fa-file-pdf-o"></i>

                        <!-- content -->
                        <div class="pdf-panel-pdf-content">
                            <span>God's Non rememberance of sin </span>
                            <p> Pdf by C H Spurgeon </p>
                        </div>
                    </a>
                </div>

                <hr>

                <!--  PDF Files 04-->
                <div class="pdf-panel-pdf" onclick="copyToPdf(this)">
                    <a href="#">
                        <i class="fa fa-file-pdf-o"></i>

                        <!-- content -->
                        <div class="pdf-panel-pdf-content">
                            <span>God's Non rememberance of sin </span>
                            <p> Pdf by C H Spurgeon </p>
                        </div>
                    </a>
                </div>

                <hr>

                <!--  PDF Files 05-->
                <div class="pdf-panel-pdf" onclick="copyToPdf(this)">
                    <a href="#">
                        <i class="fa fa-file-pdf-o"></i>

                        <!-- content -->
                        <div class="pdf-panel-pdf-content">
                            <span>God's Non rememberance of sin </span>
                            <p> Pdf by C H Spurgeon </p>
                        </div>
                    </a>
                </div>

                <hr>

            </div>

        </div>

    </div>
</div>
