<!-- <div class="grid-stack-item strong-verses-grid" id="strong-verses-grid" data-gs-height="11" data-gs-min-height="3" data-gs-min-width="2" data-gs-width="4" data-gs-x="5" data-gs-y="5"> -->
    <div class="grid-stack-item-content">
        <div class="strong-verses-wrapper" id="strong-verses-wrapper" >
            <div class="strong-verses-header" ondblclick="expandCollapse('strong-verses')">
                <div class="strong-verses-header-left">
                    <img src="/assets/dist/img/icons/strong-verses-head-icon.png">
                    <span>Strong Verses</span>
                </div>

                <div class="strong-verses-header-right">
                    <a href="javascript:void(0)" onclick="$('#strong-verses-body').toggle()" id="cross-reference-collapse-btn"><i class="fa fa-angle-down"></i></a>
                    <a href="javascript:void(0)" (click)="toggleclose()" id="cross-reference-close-btn"><i class="fa fa-close"></i></a>
                </div>

            </div>


            <!-- Cross Reference panel Body-->
            <div class="strong-verses-body" id="strong-verses-body">
                <div class="action-wrapper">
                    <div class="arrows-wrapper">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <h5><span class="brown">Desires-G1939</span></h5>
                    </div>
                    <a class="strong-verses-dot-menu" href="javascript:void(0)" onclick="toggleAction('strong-verses-body')"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                </div>
                <div class="strong-verses-body-inner">
                    <div class="table-responsive">
                        <table>
                            <tbody>

                            <!-- content 01 -->
                            <tr>
                                <td class="CR-tableLeft">
                                    <h5>Jhn 17:24</h5>
                                    <div class="actionDiv">
                                        <span class="cr" onclick="openPanel('cross-reference-grid');">CR</span>
                                        <div class="add-with-action"><span class="add">Add</span>
                                            <div class="strong-verses-action-list-outer">
                                                <div class="strong-verses-action-list new">
                                                    <div class="strong-verses-action-list-head">
                                                        <h5>Add To<!-- <i class="fa fa-close"></i> --></h5>
                                                    </div>
                                                    <div class="strong-verses-action-list-body">
                                                        <span>Work Area</span>
                                                        <span>Journey</span>
                                                        <span>Personal Favs</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </td>
                                <td class="CR-tableRight">
                                    <p>
                                        Father, I <span class="red">desire</span> that they also, whom You have given Me, be with Me where I am, so that they may see My glory which You have given Me, for You loved Me before the foundation of the world.
                                    </p>
                                </td>
                            </tr>

                            <!-- content 02 -->
                            <tr>
                                <td class="CR-tableLeft">
                                    <h5>Jhn 8:44</h5>
                                    <div class="actionDiv">
                                        <span class="cr" onclick="openPanel('cross-reference-grid');">CR</span>
                                        <span class="add">Add</span>
                                        <div class="strong-verses-action-list">
                                            <div class="strong-verses-action-list-head">
                                                <h5>Add To<i class="fa fa-close"></i></h5>
                                            </div>
                                            <div class="strong-verses-action-list-body">
                                                <span>Work Area</span>
                                                <span>Journey</span>
                                                <span>Personal Favs</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="CR-tableRight">
                                    <p>
                                        “You are of your father the devil, and you want to do the <span class="red">desires</span> of your father. He was a murderer from the beginning, and does not stand in the truth because there is no truth in him. Whenever he speaks a lie, he speaks from his own nature, for he is a liar and the father of lies.
                                    </p>
                                </td>
                            </tr>
                            
                                <!-- content 03 -->
                            <tr>
                                <td class="CR-tableLeft">
                                    <h5>Rom 1:24</h5>
                                    <div class="actionDiv">
                                        <span class="cr" onclick="openPanel('cross-reference-grid');">CR</span>
                                        <span class="add">Add</span>
                                        <div class="strong-verses-action-list">
                                            <div class="strong-verses-action-list-head">
                                                <h5>Add To<i class="fa fa-close"></i></h5>
                                            </div>
                                            <div class="strong-verses-action-list-body">
                                                <span>Work Area</span>
                                                <span>Journey</span>
                                                <span>Personal Favs</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="CR-tableRight">
                                    <p>
                                        Therefore God gave them over in the <span class="red">lusts</span> of their hearts to impurity, so that their bodies would be dishonored among them.
                                    </p>
                                </td>
                            </tr>
                            
                                                            <!-- content 04 -->
                            <tr>
                                <td class="CR-tableLeft">
                                    <h5>Rom 6:12</h5>
                                    <div class="actionDiv">
                                        <span class="cr">CR</span>
                                        <span class="add">Add</span>
                                        <div class="strong-verses-action-list">
                                            <div class="strong-verses-action-list-head">
                                                <h5>Add To<i class="fa fa-close"></i></h5>
                                            </div>
                                            <div class="strong-verses-action-list-body">
                                                <span>Work Area</span>
                                                <span>Journey</span>
                                                <span>Personal Favs</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="CR-tableRight">
                                    <p>
                                        Therefore do not let sin reign in your mortal body so that you obey its <span class="red">lusts.</span>
                                    </p>
                                </td>
                            </tr>
                                        
                                                            <!-- content 05 -->
                            <tr>
                                <td class="CR-tableLeft">
                                    <h5>Rom 7:7</h5>
                                    <div class="actionDiv">
                                        <span class="cr" onclick="openPanel('cross-reference-grid');">CR</span>
                                        <span class="add">Add</span>
                                        <div class="strong-verses-action-list">
                                            <div class="strong-verses-action-list-head">
                                                <h5>Add To<i class="fa fa-close"></i></h5>
                                            </div>
                                            <div class="strong-verses-action-list-body">
                                                <span>Work Area</span>
                                                <span>Journey</span>
                                                <span>Personal Favs</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="CR-tableRight">
                                    <p>
                                        What shall we say then? Is the Law sin? May it never be! On the contrary, I would not have come to know sin except through the Law; for I would not have known about <span class="red">coveting</span> if the Law had not said, “YOU SHALL NOT COVET.
                                    </p>
                                </td>
                            </tr>
                            
                                <!-- content 06 -->
                            <tr>
                                <td class="CR-tableLeft">
                                    <h5>Gal 5:16</h5>
                                    <div class="actionDiv">
                                        <span class="cr" onclick="openPanel('cross-reference-grid');">CR</span>
                                        <span class="add">Add</span>
                                        <div class="strong-verses-action-list">
                                            <div class="strong-verses-action-list-head">
                                                <h5>Add To<i class="fa fa-close"></i></h5>
                                            </div>
                                            <div class="strong-verses-action-list-body">
                                                <span>Work Area</span>
                                                <span>Journey</span>
                                                <span>Personal Favs</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="CR-tableRight">
                                    <p>
                                        But I say, walk by the Spirit, and you will not carry out the <span class="red">desire</span> of the flesh.
                                    </p>
                                </td>
                            </tr>
                            
                                                                <!-- content 07 -->
                            <tr>
                                <td class="CR-tableLeft">
                                    <h5>Gal 5:24</h5>
                                    <div class="actionDiv">
                                        <span class="cr" onclick="openPanel('cross-reference-grid');">CR</span>
                                        <span class="add">Add</span>
                                        <div class="strong-verses-action-list">
                                            <div class="strong-verses-action-list-head">
                                                <h5>Add To<i class="fa fa-close"></i></h5>
                                            </div>
                                            <div class="strong-verses-action-list-body">
                                                <span>Work Area</span>
                                                <span>Journey</span>
                                                <span>Personal Favs</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="CR-tableRight">
                                    <p>
                                        
Now those who belong to Christ Jesus have crucified the flesh with its passions and <span class="red">desires.</span>
                                    </p>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    <!-- </div> -->
